<mat-toolbar color="primary">
  <button mat-button [routerLink]="['/home']">
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
  </button>
  <button mat-button *ngIf="loggedIn()" [routerLink]="['/employees']">
    View All <mat-icon>list</mat-icon>
  </button>
  <button mat-button *ngIf="loggedIn()" [routerLink]="['/addEmployee']">
    <mat-icon>person_add</mat-icon> Add Employee
  </button>

  <span style="flex: 1 1 auto"></span>
  <button mat-button *ngIf="loggedIn()" [routerLink]="['/']">
    Welcome {{model.UserName}} <mat-icon>face</mat-icon>
  </button>
  <button mat-button *ngIf="loggedIn()" (click)="logout()">
    Logout<mat-icon>output</mat-icon>
  </button>
  <button mat-button *ngIf="!loggedIn()" [routerLink]="['/login']">
    <mat-icon>account_circle</mat-icon> Login
  </button>

</mat-toolbar>
