<mat-card>

  <mat-card-title id="center">Sign in</mat-card-title>

  <form [formGroup]="loginForm" (ngSubmit)="login()">

    <mat-form-field  appearance="fill">
      <input matInput placeholder="Username" formControlName="username" type="text">
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
      <input matInput placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'">
    </mat-form-field>
    
    <button id="center" mat-raised-button color="primary" [disabled]="!loginForm.valid" (click)="login()">Login</button>
  </form>

</mat-card>
