section {
    display: table;
  }
  
  .employee-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .employee-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .employee-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .employee-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .employee-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  table {
    width: 100%;
  }

  #button {
    margin: 1px 1px 1px 1px;

    padding-top: 0.5px;
    padding-right: 2px;
    padding-bottom: 0.5px;
    padding-left: 2px;
  }

  #button-delete {
    margin: 1px 1px 1px 1px;

    padding-top: 0.5px;
    padding-right: 4px;
    padding-bottom: 0.5px;
    padding-left: 4px;
  }